<h1>Simple E-Commerce Web app</h1>
<h2>Simplifica tu tienda</h2>
<img src="images/doncomedia.png" alt="Simple ecommerce">
<form action="/hook" method="POST">
<label for="txtEmail">Reserva tu lugar para ser el primero en recibirlo</label>
<input type="text" value=" " placeholder="Tu correo" name="txtEmail" id="txtEmail" >
<br>
<button type="submit" name="btnadd">Quiero participar</button>
</form>